In [2]:
from tqdm import tqdm
import pandas as pd
import numpy as np

from argos import translate

## Split into parts

In [3]:
data = pd.read_csv('../data/en-fr.csv', dtype={'en': str, 'pl': str}, na_values=[""])
data['fr'] = ''
data = data.rename(columns={'fr': 'pl'})
data = data.dropna(how='any', subset=['en'])

In [14]:
def split_dataframe(df, n):
    rows_per_dataframe = len(df) // n
    indices = np.arange(0, len(df), rows_per_dataframe)
    split_dataframes = [df.iloc[i:i+rows_per_dataframe] for i in indices]
    return split_dataframes

In [15]:
parts = split_dataframe(data, 10)
for idx, part in enumerate(parts):
    part.to_csv(f'../data/en-pl-{idx}.csv', index=False)

## Translate single part

In [19]:
def translate_part(part_path, save_interval=1000):
    data = pd.read_csv(part_path)
    for i, row in tqdm(data.iterrows(), total=len(data)):
        try:
            data.at[i, 'pl'] = translate(row['en'])
        except Exception:
            print('Error while translating', repr(row['en']))
        
        if i % save_interval == 0:
            data.to_csv(part_path)

In [20]:
translate_part('../data/en-pl-0.csv')

  0%|          | 0/2252029 [00:00<?, ?it/s]/tmp/ipykernel_130215/1408812263.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Zmiana życia 124; Zmiana społeczeństwa 124; Jak to działa 124; Technologia Drives Change Home 124; Koncepcje 124; Nauczyciele 124; Wyszukiwanie 124; Przegląd 124; Kredyty 124; HHCC Web 124; Reference 124; Odniesienie Wirtualne Muzeum Kanady Strona główna' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[i, 'pl'] = translate(row['en'])
  0%|          | 810/2252029 [00:45<30:55:01, 20.23it/s]

## Join parts

In [ ]:
# TODO